.dropdown {
    /* background-color: aqua; */
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: start;
    /* flex-direction: column; */
    width: auto;
    padding: 0;
    width: 100%;
    font-family: "Kelly Slab", sans-serif;
}

.dropdown p {
    margin: 0;
    flex: 1;
}

.dropbtn {
    position: relative;
    margin: 0;
    background-color: #E7F6F9;
    color: #042B33;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 #00000024;
    border: 1px solid #042B33;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
    font-size: .9rem;
}

.dropdownContent {
    position: absolute;
    top: calc(100%);
    display: block;
    background-color: #E7F6F9;
    box-shadow: 2px 2px 2px 0 #00000024;
    border-radius: 5px;
    transition: display 1s ease;
    width: calc(100% - 16px);
    overflow: hidden;
    height: auto;
    justify-content: center;
    align-items: center;
}

.dropdownContent button {
    background-color: transparent;
    color: #042B33;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
    cursor: pointer;
    /* border-radius: 5px; */
    padding: 10px;
    margin: 0;
    width: 100%;
    transition: .3s ease-in-out;
}


.dropdownContent button:hover {
    background-color: #042B33;
    color: #E7F6F9;
}

.arrowUp, .arrowDown {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    /* background-color: aliceblue; */
    border-left: 1px solid #042B33;
    padding-left: 8px;
    transition: .3s;
}

.arrowUp p {
    margin: 0;
    transform: rotate(90deg);
}

.arrowDown p {
    margin: 0;
    transform: rotate(-90deg);
}