.btn_back, .btn_dark {
    background-color: var(--green2);
    color: white;
    font-size: 1.1rem;
    padding: 4px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    transition: .2s;
}

.btn_dark {
    background-color: var(--green3);
}

.btn_back:hover {
    opacity: 0.8;
}

.btn_dark:hover {
    opacity: 0.8;
}