.background-site {
  position: absolute;
  /* background-image: url('/background.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--gray1);
  color: var(--white);
  width: 100vw;
  height: 100vh;
  /* filter: blur(6px); */
}

.app_container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0,0,0,0.6); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-site {
  background-color: var(--gray4);
  color: var(--white);
  font-size: 0.8rem;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 16px);
}

.footer-site p {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}
