:root {
  /* --highlight: #e10046; */
  --highlight: #03FC98;
  --highlight-80: #03FC98bd;
  --highlight-20: #03FC9833;

  --black: #000000;
  
  --gray1: #191919;
  --gray2: #1E1E1E;
  --gray3: #242424;
  --gray4: #2C2C2C;
  --gray5: #353535;

  --white: #ffffff;

  --green1: #83C5BE;
  --green2: #006D77;
  --green3: #042B33;

  --red1: #e10046;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray1);
}

.error {
  color: var(--white);
  background-color: #e100461f;
  border: 1px solid #e100462f;
  padding: 5px;
  border-radius: 4px;
}

.response {
  color: #043318;
  background-color: #00ff2a1f;
  border: 1px solid #00ff372f;
  padding: 5px;
  border-radius: 4px;
}