:root {
  --highlight: #03FC98;

  --black: #000000;
  
  --gray1: #191919;
  --gray2: #1E1E1E;
  --gray3: #242424;
  --gray4: #2C2C2C;
  --gray5: #353535;

  --white: #ffffff;

  --green1: #83C5BE;
  --green2: #006D77;
  --green3: #042B33;

  --red1: #b80505;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--gray1);
}

.error {
  color: #042B33;
  background-color: #ff00041f;
  border: 1px solid #ff00042f;
  padding: 5px;
  border-radius: 4px;
}

.response {
  color: #043318;
  background-color: #00ff2a1f;
  border: 1px solid #00ff372f;
  padding: 5px;
  border-radius: 4px;
}

.btn {
    background-color: #1A5561;
    color: white;
    font-size: 1.1rem;
    padding: 4px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    transition: .2s;
}

.btn.dark {
    background-color: #042B33;
}

.btn.danger {
    background-color: #fe1717;
}

.btn.medium {
    background-color: #85BCC7;
    color: #042B33;
}

.btn.light {
    background-color: #E7F6F9;
    color: #042B33;
}

.btn:hover {
    background-color: #1A5561df;
}

.btn.dark:hover {
    background-color: #042B33df;
}

.btn.medium:hover {
    background-color: #85BCC7df;
}

.btn.light:hover {
    background-color: #E7F6F9df;
}